@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    font-weight: 700;
    @apply scroll-smooth;
  }
}

:root {
  --kt-orange: #ff5307;
  --swiper-navigation-color: "black";
  --swiper-pagination-bottom: -5px;
  --swiper-pagination-color: var(--kt-orange);
}
